<nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <a class="navbar-brand itmo-logo" href="/">
        <img src="img/itmo_horiz_white_rus.png" width="180" height="50" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link active" href="#home">Главная</a></li>
            <li class="nav-item"><a class="nav-link" href="#about-courses">Паспорт курса</a></li>
            <li class="nav-item"><a class="nav-link" href="#annotation">Аннотация</a></li>
            <li class="nav-item"><a class="nav-link" href="#program">Программа курса</a></li>
            <li class="nav-item"><a class="nav-link" href="#teams">Преподаватели</a></li>
            <li class="nav-item"><a class="nav-link" href="#contact">Контакты</a></li>
        </ul>
    </div>
</nav>
